<ion-view view-title="Podcasts">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items" class="podcast item-remove-animate item-thumbnail-left">
        <img ng-src="{{item.logo}}">
        <h2>{{item.title}}</h2>
        <p class="desc">{{item.desc}}</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">Delete</ion-option-button>
      </ion-item>
    </ion-list>

    <button class="button button-large button-block button-positive" ng-click="importPodkicker()">Import from Podkicker...</button>
  </ion-content>

  <div class="bar bar-footer bar-large bar-positive">
    <div class="title">Add Podcast...</div>
  </div>
</ion-view>
